{% extends 'layout.html' %}

{% block title %}Форма для добавления задания{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма для добавления задания</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.number }}<br>
            {{ form.worker }}<br>
            {{ form.leader }}<br>
            {{ form.task_status }}<br>
            {{ form.date_control }}<br>
            <span>{{ error }}</span>
            <button type="submit" class="btn btn-success">Отправить задание</button>
        </form>
    </div>
{% endblock %}