<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "base.html" %}
    {% load static %}
    <link rel = "stylesheet" type="text/css" href="{% static 'css/show_info.css' %}"/>
</head>
<body>
{% block content %}
    <div class = "container">
        <div class="mx-auto d-grid gap-2" style = "margin-top: 45vh; width: 500px">
           {% for worker in worker %}
               <a href="{% url '' %}"class="btn btn-primary" type="button">{{ worker.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</body>
</html>