<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "base.html" %}
    {% load static %}
    <link rel = "stylesheet" type="text/css" href="{% static 'css/show_info.css' %}"/>
</head>
<body>
{% block content %}
    <div class = "container">
        <div class="mx-auto d-grid gap-2" style = "margin-top: 45vh; width: 500px">
           {% for project in project %}
               <a href="{% url "worker_ofProject" project.name %}" class="btn btn-primary" type="button" style="background: #31F1FF; color: black">{{ project.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</body>
</html>