<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Регистрация/авторизация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="post">
                    {% csrf_token %}
					<label for="chk" aria-hidden="true">Регистрация</label>
					<input type="text" name="create_user_name" placeholder="Имя" required="">
					<input type="email" name="create_email" placeholder="Email" required="">
					<input type="password" name="create_password" placeholder="Пароль" required="">
					<button>Зарегистрироваться</button>
				</form>
			</div>

			<div class="login">
				<form method="post">
                    {% csrf_token %}
					<label for="chk" aria-hidden="true">Авторизация</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Пароль" required="">
					<button>Войти</button>
				</form>
			</div>
	</div>
</body>
</html>
